body {
    margin: 0px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f2f2f2;
}

#header{
    padding: 2.5%;
    position: relative;
    background-color:antiquewhite;
    font-size: 100%;
    text-align: center;
}

#options{
    padding:0.5%;
    background-color: rgb(174, 88, 88);
    text-align: center;
    justify-content: space-between;
    display: flex;    
}
#options a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.Admissions{
    margin-left: 4%;
}
.Archieves{
    margin-right: 4%;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 115vh;
}

form {
	background-color: #fff;
	padding: 20px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	border-radius: 5px;
	margin-left: 25px;
	width: 50vh;
	/* align-items: end; */
}

form h1 {
	font-size: 24px;
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 10px;
}
form input[type="number"],
form input[type="text"],
form input[type="email"],
form input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
}

form button[type="submit"] {
	background-color: rgb(174, 88, 88);
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

form button[type="submit"]:hover {
	background-color: rgb(125, 47, 47);
}

#department,#semester{
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
}

#footer{
    position: relative;
    bottom: 0%; /*shifts to bottom of the page*/
    width: 100%;
    padding: 0.5%;
    background-color: rgb(151, 67, 67);
    text-align: center;
    justify-content: space-between;
    display: flex;  
}
#footer a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.Activities{
    margin-left: 7%;
}
.last{
    margin-right: 7%;
}
